<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Lobby</title>
  </head>
  <body>
    <nav class="sticky top-0 z-50">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-center h-16">
          <div class="flex-shrink-0 flex items-center">
            <h1 class="text-white text-3xl font-bold">Movie Trivia</h1>
          </div>
        </div>
      </div>
    </nav>

    <div class="flex-1 flex justify-center items-start h-screen py-7">
      <div
        id="contenedorLobby"
        class="bg-white p-5 rounded-lg text-secondary shadow-lg flex flex-col"
      >
        <h1 class="text-3xl font-semibold mb-4">Lobby</h1>
        <div id="topLobby" class="flex flex-col items-center"></div>
        <h2 class="text-xl font-semibold mb-2">Participantes Conectados</h2>

        <div
          id="contenedorUsuariosLobby"
          class="bg-stone-200 p-5 rounded-lg text-secondary shadow-lg overflow-auto flex-grow"
        ></div>
      </div>
    </div>
    <script type="module" src="..\scripts\lobby.js"></script>
  </body>
</html>
