@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    background-color: #011f4b;
}


#fondoHome, #fondoCrearPartida, #fondoPartida{
    background-color: #005b96;
}

#contenedorHome{
    width: 67rem;
    height: 45rem;
}
 
#contenedorCrearPartida{
    width: 67rem;
    height: 35rem;
}

#contenedorPartidas{
    height: 32rem;
}

#divNombreNuevaPartida{
    width: 33rem;
}

#usuariosContainer {
    width: 25rem;
}

#partidaContainer {
    width: 45rem;
    height: 48rem;
}

#participantesContainer {
    height: 37.8rem;
}

#preguntonContainer {
    height: 9rem;
}

#bordeParticipantes{
    height: 32rem;
}


.blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: backdrop-filter 0.3s ease-in-out;
    -webkit-transition: backdrop-filter 0.3s ease-in-out;
}

