@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #005b96;
}

nav{
    background-color: #011f4b;
}

#contenedorHome, #contenedorLobby{
    width: 67rem;
    height: 45rem;
}
 
#contenedorCrearPartida{
    width: 67rem;
    height: 35rem;
}

#contenedorPartidas{
    height: 32rem;
}

#divNombreNuevaPartida{
    width: 33rem;
}

#leftContainer {
    width: 28rem;
}

#gameContainer {
    width: 45rem;
    height: 48rem;
}

#playersContainer {
    height: 32.8rem;
}

#dataContainer {
    height: 14rem;
}

#bordeParticipantes{
    height: 28rem;
}

#responsesContainer {
    height: 20rem;
}


.blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: backdrop-filter 0.3s ease-in-out;
    -webkit-transition: backdrop-filter 0.3s ease-in-out;
}

.main-color{
    color: #011f4b
}

.main-border {
    border-color: #011f4b;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}